<div class='container py-5 font-monospace'>

  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5 mx-auto'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Account Login
            <i class='fas fa-key'></i></h5>
          <hr />
          <form method='POST' action='/'>
            <div class='row mb-3 g-2'>
              <div class='col-md-8'>
                <input
                  type='text'
                  class='form-control'
                  id='email'
                  name='email'
                  placeholder='Email'
                />
              </div>
            </div>
            <div class='row mb-3 g-2'>
              <div class='col-md-8'>
                <input
                  type='text'
                  class='form-control'
                  id='Password'
                  name='password'
                  placeholder='Password'
                />
              </div>
            </div>
            <button class='btn btn-light border shadow-sm' type='submit'>Sign in</button>
          </form>
        </div>

        <small class='card-footer text-muted text-end'> </small>
      </div>
    </div>
  </div>
</div>