<div class='container py-5 font-monospace'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5 mx-auto'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Welcome!{{account.firstName}}</h5>
          <form action='/logout' method='post'>
            <button type='submit' class='btn btn-danger'>登出</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>